.button {
    -fx-font-weight: bold;
}
.backgroundTelaLogin{
    -fx-background-color: #808080;
}
.paneCabecalho{
    -fx-background-color: #4169E1;
    
}
.botaoEntrar{
    -fx-background-color: #4169E1;
}
.botaoEntrar:hover{
    -fx-background-color: #FFFFFF;
    -fx-text-fill:#4169E1;
    -fx-border-color:#4169E1;
}
.lblEsqueciMinhaSenha:hover{
    -fx-text-fill: #4169E1;
}